
@keyframes ldio-v8liw9ovg0h { 0% { transform: rotate(0) } 100% { transform: rotate(360deg); } }
.ldio-v8liw9ovg0h > div {
  animation: ldio-v8liw9ovg0h 1s infinite linear;
  transform-origin: 50px 50px;
}
.ldio-v8liw9ovg0h > div div { position: absolute; }
.ldio-v8liw9ovg0h > div div:nth-child(1), .ldio-v8liw9ovg0h > div div:nth-child(2) {
  width: 82px;
  height: 82px;
  border: 12px solid;
  border-radius: 50%;
  border-color: transparent #5be16e #5be16e #5be16e;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(45deg);
  transform-origin: 50px 50px;
}
.ldio-v8liw9ovg0h > div div:nth-child(1) {
  transform: rotate(45deg) translate(9px, 9px);
}
.ldio-v8liw9ovg0h > div div:nth-child(2) {
  transform: rotate(0deg) translate(9px, 9px);;
}
.ldio-v8liw9ovg0h > div div:nth-child(3) {
  width: 0;
  height: 0;
  border: 12px solid;
  border-color: transparent transparent transparent #5be16e;
  transform: translate(50px, 3px);
}
.loadingio-spinner-reload-sbu01307l4 {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background: none;
}
.ldio-v8liw9ovg0h {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.51);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-v8liw9ovg0h div { box-sizing: content-box; }





  