
.centrar{
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-around;
}
.navbar{
  justify-content: space-around;
}
.card{
  max-width: 60%;
}
.card-title{
position: absolute;
padding: 20px;
}
.card-date{
  position: absolute;
  padding-left: 20px;
  margin-top:60px;
  }
.card-temp{
  position: absolute;
  padding-left: 20px;
  font-size: 50px;
  margin-top: 260px;
}
.card-desc{
  position: absolute;
  padding-left: 20px;
  margin-top: 320px;
}
.colClima{
  
  margin-left: 5px;
}
.nombreDesc{
  
  font-size: small;
}
.cardSombra{
  box-shadow:  1px 1px 8px rgba(26, 26, 26, 0.479);
}
.imgLupa{
  width: 25px;
}
.sombraForm{
  box-shadow:  1px 1px 2px rgba(26, 26, 26, 0.479);
}